
@{
    ViewBag.Title = "AddFlat";
}

<h2>Add your Flat</h2>

<img src="\Images\Rent.jpg" alt="Rent" width="300" height="300">

<form>
    Flat Size:<input type="text" name="FlatSize" class="form-control" />
    Location:<input type="text" name="Location" class="form-control" />
    RoomDetails: <input type="text" name="RoomDetails" class="form-control" />
    Flat Rent :  <input type="number" name="Rent" class="form-control" />
    <input type="submit" value="Add Flat" class="btn btn-primary" /><br /><br />






</form>
