
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>
<form>
    Email:<input type="email" name="Email" class="form-control" />
    Password:<input type="password" name="Password" class="form-control" />
    Phone: <input type="number" name="Phone" class="form-control" />
    Type: <select name="Type" class="form-control">
        <option value="2">Owner</option>
        <option value="3">Customer</option>
    </select><br />
    <input type="submit" value="Sign Up" class="btn btn-primary" /><br /><br />
    <spana>Already have account? <a href="/Login" class="text-info">Login</a></spana>





</form>
